#surveyList {
	#sidebar {
		margin-top: 112px;
		text-align: right;
		h1 {
			@extend h3;
			margin-top: 0;
		}
		h2 {
			margin-top: 19px;
		}
	}
	ul {
		margin-top: 117px;
		section {
			margin-bottom: 50px;
			position: relative;
			> span {
				margin-bottom: 20px;
				display: block;
				text-transform: capitalize;
			}

			li {
				display: block;
				background: $color-white;
				border: 1px solid $color-light-grey;
				@extend .utility--shadow-2;
				border-radius: 8px;
				height: 180px;
				// overflow: hidden;
				position: relative;
				max-width: 700px;
				padding: 0 20px 20px 0;
				margin-bottom: 20px;
				img {
					display: inline-block;
					width: 160px;
					height: calc(100% + 24px);
					background-color: $color-key-medium;
					border: none;
					float: left;
					margin-right: 40px;
					margin-left: -2px;
					margin-top: -2px;

				}
				span {
					&.title {
						font-family: $font-secondary;
						font-size: 16px;
						font-weight: 700;
						color: $color-black;
						display: inline-block;
						margin-top: 24px;
					}
					&.timeEstimate {
						display: inline;
						span {
							font-weight: 700;
							color: $color-warning;
							.label {
								font-size: 12px;
								font-family: $font-secondary;
								color: $color-dark-grey;
								text-transform: uppercase;
								font-weight: 700;
							}
						}
					}
				}
				p {
					position: relative;
	  				height: 2.4em;
	  				overflow: hidden;
	  				margin-top: 16px;
				}
				a {
					float: right;
					@extend .btn;
					@extend .buttonPrimary;
					@extend .buttonFix;
					@extend .utility--shadow-flat;
					@extend .small;
				}
			}
			.flag {
				position: absolute;
				left: -26px;
				top: 20px;
				display: inline;
				padding: 3px 8px 4px 36px;
				border-radius: $displayBox-border-radius;
				font-family: $font-secondary;
				font-size: 16px;
				@extend .utility--shadow-1;
				@extend .noRaise;
			}
			&#surveysToComplete {
				.flag {
					background-color: $color-warning;
					border: 1px solid lighten($color-warning, 33%);
					color: $color-white;
					&:after {
						content: "New";
					}
				}
			}
			&#surveysToUpdate {
				.flag {
					background-color: $color-info;
					border: 1px solid lighten($color-info, 33%);
					color: $color-white;
					&:after {
						content: "Update Needed";
					}
				}
			}
			&#surveysCompleted {
				.flag {
					background-color: $color-success;
					border: 1px solid lighten($color-success, 33%);
					color: $color-white;
					&:after {
						content: "Done";
					}
				}
				// li {
				// 	margin-top: -139px;
				// 	&:first-of-type {
				// 		margin-top: 20px;
				// 	}
				// }
			}
		}
	}
}