// This is specific to the /survey/<id> view
// code for styling the survey component itself
// is location in styles/components/_survey.scss.

#survey {

  form[name=questionForm] {

    .container {
      width: 100%;
      position: relative;

      .questionNumber {
        text-transform: uppercase;
      }

      .bool {

        .btn {
          //position: absolute;

          .buttonPrimary {
            left: 10px;
          }

          .buttonSecondary {
            text-align: right;
          }
        }
      }
    }


  }

}