// Universial Variables
	$default-border-radius: 4px;
	$default-border-width: 2px;

// FONTS
	// You'll need to specify your imports here as well. 
	@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
	@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

	$font-primary: 'Raleway', sans-serif;
		// a sans-serif font used for default text elements

	$font-secondary: 'Lato', sans-serif;
		// a sans-serif font used for context information (such as tooltips and modal window descriptions)

	$font-serif: 'Lato', sans-serif;
		// a serif-font used for the input of personal details

	$font-code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;
		// a monospaced font



// BUTTONS
	$button-border-width: $default-border-width;
	$button-radius: 1000px;



// DROPDOWNS
	$dropdown-border-width: 1px;
	$dropdown-border-radius: $default-border-radius;



// DISPLAYBOX
	$displayBox-border-width: 4px;
	$displayBox-border-radius: $default-border-radius;




// COLORS
	$color-black: #333333;
		// default color for primary text styles

	$color-dark-grey: #6B6E88;
		// defualt color for secondary text styles

	$color-medium-grey: #C1C1C1;

	$color-light-grey: #E7EAEE;

	$color-white: #F5F6F7;
		// default background color

	$color-key-dark: #283178;
		// default dark non-neutral color. Is also used to style 'system' elements.

	$color-key-medium: #359BE6;
		// default button color

	$color-key-light: #9FC6E2;
		// default secondary button color

	$color-warning: #DD3953;
		// default color for alerts and warnings (typically red)

	$color-alert: #EEBA3D;
		// default color for alerts (typically orange)

	$color-info: #6B14CE;
		// default color for highlighed informational elements (typically purple)

	$color-success: #04A777;
		// default color for success elements. (typically green)

	$color-confirm: #00D196;
		// default color for confirmation elements. (typically light green)