.radioGroup {
  margin:              20px 0 20px;
  input[type="radio"] {
    display:           none;
  }
  input[type="radio"] + label {
    @extend            .utility--shadow-flat.activeS;
    @extend            .utility--shadow-flat.small;
    height:            36px;
    min-width:         145px;
    color:             $color-dark-grey;
    cursor:            pointer;
    display:           inline-block;
    text-align:        center;
    font-size:         14px;
    font-weight:       700;
    letter-spacing:    .5px;
    padding-top:       8px;
    margin-top:        -8px;
    border-bottom:     2px solid $color-key-medium;
    border-top:        2px solid $color-key-medium;
    border-right:      2px solid $color-key-medium;
    &:first-of-type {
      border-radius:   4px 0 0 4px;
      border-left:     2px solid $color-key-medium;
    }
    &:last-of-type {
      border-radius:   0 4px 4px 0;
    }
  }
  input[type="radio"]:checked + label {
    font-weight:       700;
    background-color:  $color-key-medium;
    color:             $color-white;
  }
  &.light, &.white {
    input[type="radio"] + label {
      color:             $color-white;
      border-bottom:     1px solid $color-white;
      border-top:        1px solid $color-white;
      border-right:      1px solid $color-white;
      &:first-of-type {
        border-left:     1px solid $color-white;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-white;
      color:             $color-key-medium;
    }
  }
  &.success, &.green {
    input[type="radio"] + label {
      color:             $color-success;
      border-bottom:     1px solid $color-success;
      border-top:        1px solid $color-success;
      border-right:      1px solid $color-success;
      &:first-of-type {
        border-left:     1px solid $color-success;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-success;
      color:             $color-white;
    }
  }
  &.confirm, &.lightGreen {
    input[type="radio"] + label {
      color:             $color-confirm;
      border-bottom:     1px solid $color-confirm;
      border-top:        1px solid $color-confirm;
      border-right:      1px solid $color-confirm;
      &:first-of-type {
        border-left:     1px solid $color-confirm;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-confirm;
      color:             $color-white;
    }
  }
  &.alert, &.yellow {
    input[type="radio"] + label {
      color:             $color-alert;
      border-bottom:     1px solid $color-alert;
      border-top:        1px solid $color-alert;
      border-right:      1px solid $color-alert;
      &:first-of-type {
        border-left:     1px solid $color-alert;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-alert;
      color:             $color-white;
    }
  }
  &.warning, &.red {
    input[type="radio"] + label {
      color:             $color-warning;
      border-bottom:     1px solid $color-warning;
      border-top:        1px solid $color-warning;
      border-right:      1px solid $color-warning;
      &:first-of-type {
        border-left:     1px solid $color-warning;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-warning;
      color:             $color-white;
    }
  }
  &.info, &.purple {
    input[type="radio"] + label {
      color:             $color-info;
      border-bottom:     1px solid $color-info;
      border-top:        1px solid $color-info;
      border-right:      1px solid $color-info;
      &:first-of-type {
        border-left:     1px solid $color-info;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-info;
      color:             $color-white;
    }
  }
  &.system, &.navy {
    input[type="radio"] + label {
      color:             $color-key-dark;
      border-bottom:     1px solid $color-key-dark;
      border-top:        1px solid $color-key-dark;
      border-right:      1px solid $color-key-dark;
      &:first-of-type {
        border-left:     1px solid $color-key-dark;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-key-dark;
      color:             $color-white;
    }
  }
  &.dark {
    input[type="radio"] + label {
      color:             $color-black;
      border-bottom:     1px solid $color-black;
      border-top:        1px solid $color-black;
      border-right:      1px solid $color-black;
      &:first-of-type {
        border-left:     1px solid $color-black;
      }
    }
    input[type="radio"]:checked + label {
      background-color:  $color-black;
      color:             $color-white;
    }
  }
}