
.survey {
  h1 {
    margin-top: 0;
  }

  .row {
    padding-top: 5em;
  }

  form {
    margin: 2em 0;
  }

  .survey-meta {
    display: relative;
    position: fixed;

    span {
      font-weight: 700;
    }
  }


}
