
.survey {
  h1 {
    margin-top: 0;
  }

  .row {
    padding-top: 5em;
  }

  form {
    margin: 2em 0;
  }

  .survey-meta {
    display: relative;
    position: fixed;

    span {
      font-weight: 700;
    }
  }

  .container{
    margin-bottom: 10px;
    border: 1px solid $gap-medium-grey;
    padding: 0px 10px 20px 10px;
    border-radius: 4px;
    max-width: 650px;
    @extend .utility--shadow-1;
    background-color: $gap-white;
  }

  .special{
    position: relative;
    top: 20px;
  }

}
