// delete this

.add-choice {
  height: 40px;
  width: 200px;
  border: 1px solid green;
}

.questions {
  height: 40px;
  width: 100%;
  border: 1px solid red;
}

.question {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 6px;
}